<a href="https://colab.research.google.com/github/RKayyy/DBMS_project/blob/main/ML_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import io

df = pd.read_csv("AWCustomers.csv")

In [3]:
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [13]:
drop_columns=  ['Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix', 'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 'NumberCarsOwned', 'LastUpdated', 'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate']

In [14]:
dt = df.drop(drop_columns, axis=1)

In [15]:
data = dt[:100]

In [16]:
data

,CustomerID,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,21173,Bachelors,Clerical,M,M,1,0,1,81916
1,13249,Partial College,Clerical,M,M,1,1,2,81076
2,29350,Bachelors,Clerical,F,S,0,0,0,86387
3,13503,Partial College,Skilled Manual,M,M,1,1,2,61481
4,22803,Partial College,Skilled Manual,M,S,1,0,0,51804
...,...,...,...,...,...,...,...,...,...
95,11345,Partial College,Management,F,S,1,0,0,106648
96,22539,Partial High School,Skilled Manual,M,S,0,0,0,58037
97,26226,Partial College,Management,F,M,1,0,1,106062
98,22654,High School,Manual,M,S,0,0,0,28008
99,20389,Graduate Degree,Clerical,M,M,1,0,3,86828

In [ ]:
# CustomerID: discrete
# Gender: nominal
# Age: ratio
# MaritalStatus: nominal
# EducationLevel: nominal
# Occupation: nominal
# Income: ratio
# HomeOwnershipFlag: nominal
# NumberofChildren: discrete
# TotalPurchaseValue: ratio

In [ ]:
#Handle Null values

In [19]:
df['YearlyIncome'].fillna(df['YearlyIncome'].mean(), inplace=True)

In [21]:
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

In [22]:
df['MaritalStatus'].fillna(df['MaritalStatus'].mode()[0], inplace=True)

In [23]:
df['Education'].fillna(df['Education'].mode()[0], inplace=True)
df['Occupation'].fillna(df['Occupation'].mode()[0], inplace=True)

In [25]:
df['NumberChildrenAtHome'].fillna(0, inplace=True)

In [26]:
df['TotalChildren'].fillna(0, inplace=True)

In [27]:
df['HomeOwnerFlag'].fillna(df['HomeOwnerFlag'].mode()[0], inplace=True)

In [28]:
df.Occupation.any()

True

In [29]:
df.YearlyIncome.any()

True

In [30]:
null_count = df['YearlyIncome'].isnull().sum()
null_count

0

In [ ]:
#Normalisation

In [31]:
from sklearn.preprocessing import MinMaxScaler